<!-- ****** Footer Area Start ****** -->
<footer class="footer_area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-content">
          <!-- Logo Area Start -->
          <div class="footer-logo-area text-center">
            <a href="index.html" class="yummy-logo">Yummy Blog</a>
          </div>
          <!-- Menu Area Start -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Copywrite Text -->
        <div class="copy_right_text text-center">
          <p>Copyright @2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://about.me/nishant.sinha" target="_blank">Nishant Sinha</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ****** Footer Area End ****** -->