<!-- ****** Header Area Start ****** -->
<header class="header_area">
  <div class="container">
    <div class="row">
      <!-- Logo Area Start -->
      <div class="col-12">
        <div class="logo_area text-center">
          <a href="/" class="yummy-logo">Yummy Blog</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav" aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
          <!-- Menu Area Start -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ****** Header Area End ****** -->